h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
p {font-size: 1.2em;}
input[type=submit] {width: 5em;  height: 2em; font-size: 1.3em}
td {font-size: 1.3em}
input[type=text], input[type=password] {
    font-size: 1em;
    height: 1.3em;
    width : 7em;
}